{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <title>Django Ticket Tracker</title>
</head>

<body class="bg-dark">
    <nav class="nav navbar bg-black">
        <div class="container-fluid d-flex">
            <a href="/" class="navbar-brand text-light">Django Ticket Tracker</a>
            {% if not user.is_authenticated %}
            <form class="d-flex" role="login" action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <input hidden id="username" name="username" value="guest"/>
                <input hidden id="password" name="password" value="guestpassword123"/>
                <button class="btn btn-success" type="submit">Login As Guest</button>
            </form>
            {% else %}
            <div class="d-flex gap-4 align-items-center">
                <h4 class="text-light float-right">Hello, {{ user.username }}</h4>
                <form class="d-flex" role="logout" action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-danger" type="submit">Logout</button>
                </form>
            </div>
            {% endif %}
        </div>
    </nav>

    <div class="container mt-4">
        {% if user.is_authenticated %}

            {% if messages %}
            <ul style="margin: 0; padding: 0;">
                {% for message in messages %}
                    <li style="list-style: none" {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            <!-- buttons above table -->
            <div class="d-flex align-items-end text-light" style="gap: 10px;">
                <button type="button" class="btn btn-primary flex-grow" data-bs-toggle="modal" data-bs-target="#newTicketModal">
                    <i class="bi bi-plus-square-fill"></i> New Ticket
                </button>
                <!-- Reports Button -->
                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Reports <i class="bi bi-newspaper"></i>
                    </button>
                    <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Separated link</a></li>
                    </ul>
                </div>
  
            </div>

            <!-- New Ticket Modal -->
            <div class="modal modal-xl fade" id="newTicketModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="newTicketModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="newTicketModalLabel">Create New Ticket</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form role="create" action="{% url 'create' %}" method="post">
                        <div class="modal-body">
                            {% csrf_token %}
                            <div class="form-floating mb-4">
                                <input required type="text" class="form-control" id="title" name="title" placeholder="ticket title">
                                <label for="title" class="form-label">Ticket Title</label>
                              </div>
                              <div class="form-floating mb-4">
                                <textarea required style="height: 200px;" class="form-control" id="description" name="description" placeholder="description"></textarea>
                                <label for="description" class="form-label">Ticket Description:</label>
                              </div>
                              <div class="form-floating mb-4">
                                <select class="form-select form-select mb-3" aria-label="priority selection" id="priority" name="priority">
                                    <option value="1">Low</option>
                                    <option value="2">Medium</option>
                                    <option value="3">High</option>
                                </select>
                                <label for="priority" class="form-label">Ticket Priority</label>
                              </div>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-success">Save Ticket</button>
                        </div>
                    </form>
                </div>
                </div>
            </div>

            <!-- Ticket Management Table -->
            <div class="table-responsive container border border-opacity-0 bg-light rounded p-4 mt-2">
                <div class="input-group d-flex mb-4">
                    <input id="search-box" type="text" class="form-control" placeholder="Search by ticket #" aria-label="search-box" aria-describedby="button-addon2">
                    <button class="btn btn-primary" type="button" id="button-addon2" onclick="handleSearch()"><i class="bi bi-search"></i> Search</button>
                  </div>

                <div class="d-flex justify-content-between align-content-center gap-4 mb-4">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="hide-closed-filter" onchange="handleHideClosedTickets(this);">
                        <label class="form-check-label" for="hide-closed-filter">
                            <small>Hide Closed Tickets</small>
                        </label>
                    </div>

                    <select id="sort-select-box" class="form-select form-select-sm w-25" aria-label=".form-select-sm example" onchange="updateSort()">
                        <option value="default" selected>Sort</option>
                        <option value="creation_date">Date: Oldest First</option>
                        <option value="-creation_date">Date: Newest First</option>
                        <option value="-priority">Priority: High to Low</option>
                        <option value="priority">Priority: Low to High</option>
                        <option value="-status">Status: Open First</option>
                        <option value="status">Status: Closed First</option>
                    </select>
                </div>

                <p>Filters:</p>

                <table class="shadow table-hover table-striped table-bordered table mt-2 rounded">
                    {% if tickets.count == 1 %}
                    <caption>{{tickets.count}} ticket loaded.</caption>
                    {% else %}
                    <caption>{{tickets.count}} ticket loaded.</caption>
                    {% endif %}
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Priority</th>
                        <th scope="col">Title</th>
                        <th scope="col">Status</th>
                        <th scope="col">Owner</th>
                        <th scope="col">Created On</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    {% if tickets %}
                    <tbody>
                        {% for ticket in tickets %}
                        <tr>
                            <th><a href="{% url 'details' ticket.id %}">{{ticket.id}}</a></th>
                            {% if ticket.get_priority_display == 'Low' %}
                            <td><span class="badge bg-primary rounded-pill text-light">{{ticket.get_priority_display}}</span></td>
                            {% elif ticket.get_priority_display == 'Medium' %}
                            <td><span class="badge bg-warning rounded-pill text-light">{{ticket.get_priority_display}}</span></td>
                            {% elif ticket.get_priority_display == 'High' %}
                            <td><span class="badge bg-danger rounded-pill text-light">{{ticket.get_priority_display}}</span></td>
                            {% endif %}
                            <td>{{ ticket.title }}</td>
                            {% if ticket.status == 'CLOSED' %}
                                <td><span class="badge rounded-pill bg-secondary">{{ticket.status}}<span></td>
                            {% else %}
                                <td><span class="badge rounded-pill bg-success">{{ticket.status}}<span></td>
                            {% endif %}
                            <td>{{ ticket.owner}}</td>
                            <td>
                                {% load tz %}
                                {{ ticket.creation_date | utc | date }}
                            </td>
                            <td class="d-flex gap-3">
                                <!-- TODO: put onsubmit code into js file -->
                                <a class="btn btn-primary" href="{% url 'details' ticket.id %}">Details</a>
                                <form class="d-flex" role="delete" action="{% url 'delete' ticket.id %}" method="get" onsubmit="return confirm('Do you really want to delete this ticket?');">
                                    {% csrf_token %}
                                    <button class="btn btn-danger" type="submit">Delete</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <a style="visibility: hidden;" id="clear-search-results-btn" href="/" class="btn btn-primary float-end">Clear Search Results</a>
            </div>
            {% endif %}
            <script src="{% static 'script.js' %}" />
        {% else %}
            <div class="container text-center text-light mt-5 font-size-lg">
                <h2>Django Ticket Manager</h2>
                <p>Log in with guest credentials above to view and manage tickets.</p>
            </div>
        {% endif %}
    </div>
</body>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>


</html>